.timeline-section {
    position: relative;
    margin: 30px 0;
  }
  
  .timeline-section::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #e31277;
  }
  
  .timeline-pointer {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  /* 空心圓 */
  .timeline-pointer::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(-50%, -30%);
    background-color: #fff;
    background-color:none;
    border: 2px solid red;
    z-index:100;
  }

 /* 實心圓 */
 .checkOrder .timeline-section :nth-child(1) .timeline-pointer::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(-50%, -30%);
    background-color: #e31277;
  } 



   /* 實心圓 */
.checkInfo .timeline-section :nth-child(-n+2) .timeline-pointer::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -30%);
  background-color: #e31277;
} 

   /* 實心圓 */
   .checkPayment .timeline-section :nth-child(-n+3) .timeline-pointer::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(-50%, -30%);
    background-color: #e31277;
  } 

     /* 實心圓 */
    //  .checkSuccess .timeline-section :nth-child(-n+4) .timeline-pointer::before {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   width: 8px;
    //   height: 8px;
    //   border-radius: 50%;
    //   transform: translate(-50%, -30%);
    //   background-color: #e31277;
    // } 