<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head> -->

<!-- <body> -->

<div class="subscribe  d-flex align-items-end  ">
  <div class="container pb-7">
    <h2 class="fw-bold text-white">想收到最新消息嗎？</h2>
    <p class=" text-white fs-4 mb-11">快訂閱我們！</p>

    <div class="row">
      <div class="col-md-4">
        <div class="input-group mb-3 ">
          <input type="text" class="form-control rounded-0" placeholder="Recipient's username"
            aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-secondary rounded-0 px-9 py-11" type="button" id="button-addon2">訂閱</button>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body> -->

<!-- </html> -->