<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <!-- Swiper -->
  <div class="container position-relative">
    <div class="swiper-container  mySwiper mb-12 offset-md-1">
      <div class="swiper-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="swiper-slide ">
              <img src="./assets/images/11.jpg" alt="">
            </div>
          </div>
          <div class="col-md-4">
            <div class="swiper-slide ">
              <img src="./assets/images/8.jpg" alt="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="swiper-slide">
              <img src="./assets/images/5.jpg" alt="">
            </div>
          </div>
          <div class="col-md-4">
            <div class="swiper-slide ">
              <img src="./assets/images/11.jpg" alt="">
            </div>
          </div>
          <div class="col-md-4">
            <div class="swiper-slide ">
              <img src="./assets/images/8.jpg" alt="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="swiper-slide">
              <img src="./assets/images/5.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="swiper-pagination"></div> -->
  </div>
  </div>



  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>