.popular img{
    width: 100%;
    height: 559px;
    display: block;
    object-fit: cover;
}


.popular-imgfluid{
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
}